<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="gg2_contacts" frontName="gg2_contacts">
            <module name="Gg2_Contacts"/>
        </route>
    </router>
</config>